<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="{% block meta_description %}A blog about Django, Python, and web development - sharing code, tutorials, and project experiences.{% endblock meta_description %}">
        <meta name="keywords"
              content="django blog, python web development, coding tutorials, programmer blog">
        <title>
            {% block title %}
                WriteShot
            {% endblock title %}
        </title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
              rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body class="d-flex flex-column min-vh-100">
        {% include "blog_app/includes/navbar.html" %}
        <main class="container my-4 flex-grow-1">
            {% block content %}
            {% endblock content %}
        </main>
        {% include "blog_app/includes/footer.html" %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
